* {
  background-color: rgb(165, 255, 138);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div-2 {
  /* border: solid black; */
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  /* background-image: url("https://historyuk.s3.eu-west-2.amazonaws.com/s3fs-public/2023-08/shutterstock_2313750811.jpg?VersionId=L3heom6_o3mIIA61VixzWVWAs0Jy_kAm"); */
  background-image: url("https://static.vecteezy.com/system/resources/previews/025/272/729/large_2x/dark-image-of-a-steel-bank-vault-free-photo.jpg");
  display: flex;
  flex-direction: column;
  align-items: bottom;
  justify-content: center;
  color: rgb(2, 0, 92);
  text-shadow: -1px -1px 0 #3b3b3b, 1px -1px 0 #3b3b3b, -1px 1px 0 #3b3b3b,
    1px 1px 0 #3b3b3b;
}
